.style_of_text_to_do_input{
    text-align: center;
}

.add_margin_auto{
    margin: auto;
}

.add_text_align_center{
    text-align: center;
}

.width_70{
    width: 70%;
}

.width_50{
    width: 50%;
}


